body{
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(173,126,230,1) 10%, rgba(10,160,208,1) 32%, rgba(61,247,189,1) 65%);
}

.calc-heading{
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  margin-top:40px ;
  text-transform: uppercase;
  color: rgb(22, 11, 11);
  font-weight:bold;
  text-decoration: underline;
}

#calulator {
  margin-top: 50px;
  border: 1px solid rgb(15 212 245 / 91%);
  border-radius: 10px;
  width: 280px;
  height: 400px;
  background: linear-gradient(0deg, rgba(195,163,34,1) 7%, rgba(147,4,255,1) 81%);
}

#display{
  height: 50px;
  width: 80%;
  margin: 20px;
  border: 2px solid #ffff;
  border-radius: 8px;
  font-size: 50px;
}

.button-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.calc-buttoncolor{
  height: 45px;
  width: 55px;
  border: 1px solid rgba(215, 146, 233, 0.815);
  border-radius: 15px;
  margin: 3px;
  background-color:rgba(215, 146, 233, 0.815);
  font-size: 1.2rem;
}

.calc-button{
  height: 45px;
  width: 55px;
  border: 1px solid white;
  border-radius: 15px;
  margin: 3px;
  font-size: 1.5rem;
}

.calc-buttonequal{
  height: 45px;
  width: 55px;
  border: 1px solid  rgba(185, 67, 214, 0.945);
  border-radius: 15px;
  margin: 4px;
  background-color: rgba(185, 67, 214, 0.945);
  font-size: 2rem;
  font-weight: 600;
}